body * {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("output-onlinepngtools.png");
    background-size: cover;
    background-position: top;
    height: 100vh;
    z-index: -1;
    background-color: lightgray; 
}


#txt1 {
    font-size: 14px;
    padding-left: 10px;
}

.floating-text {
    position: absolute;
    top: 280px;
    left: 590px;
    background-color: white;
    color: black;
    opacity: 80%;
}

.floating-text-2 {
    position: absolute;
    bottom: -580px;
    left: 630px;
    background-color: white;
    color: black;
    opacity: 80%;
}

.floating-text-3 {
    position: absolute;
    bottom: -600px;
    left: 630px;
    background-color: white;
    color: black;
    opacity: 80%;
}

.floating-text-4 {
    position: absolute;
    bottom: -800px;
    right: 450px;
    background-color: white;
    color: black;
    opacity: 80%;
}

.page {
    width: 1200px;
    height: 4000px;
    background-color: #f0ebdd;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}


.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
    height: 450
}

.description-left {
    padding-right: 20px;
    height: 450
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

.space {
    height: 40px;
}



